body{ 
  background-color: #cccccc;
}

.widget{
  float: left;
  padding: 0px 25px 0px 25px;
}

input.spinner{
  width: 100px;
  height: 30px;
  font-size: 20px;
  text-align: center;
}

button{
  width: 100px;
  height: 30px;
  margin-top: 25px;
  background-color: white;
  font-size: 20px;
}